*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255)5);
}

form{
    height: auto;
    padding: 30px 20px;
    background: rgb(226, 226, 226);
    border: 2px solid #000;
    color: #000000;
    border-radius: 5px;
}
form .form-group{
    margin-bottom: 10px;
}
form .form-group{
    display: flex;
    flex-direction: column;
}
form .form-group label{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}
form .form-group input[type="text"],
form .form-group input[type="tel"],
form .form-group input[type="password"]{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
    font-size: 18px;
    cursor: default;
    border-radius: 10px;
}
.form-group.gender{
    flex-direction: row;
}
.form-group.gender input{
    cursor: pointer;
}
.form-group.gender label{
    cursor: default;
}
.qualification{
    display: flex;

}
.qualification .qualification-box{
    display: flex;
}
.qualification .qualification-box label{
    margin-right: 5px;
    margin-top: 10px;
}
.qualification .qualification-box input{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
input[type="submit"]{
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    background: url('./images/button\ image.jpg') no-repeat center center / cover;
    color: #fff;
    border-radius: 20px;
    font-weight: 700;
}

@media screen and (max-width:538px){
    body{
        justify-content: flex-start;
        align-items: stretch;
    }
    .qualification{
        flex-direction: column;
    }
    form{
        border-radius: 0;
        box-shadow: none;
    }
}